/* .Map {
    position: absolute; 
    top: 200px; 
    left: -38px; 
    width: 100%; 
    /* clip: rect(0% 0%, 60% 00%, 70% 0%, 15% 0%);
} */

.map-btns {
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    border: none;
    margin-right: 20px;
    outline: none !important;
}

.confirmed-btn{
    background-color: red;
}

.recovered-btn{
    background-color: green;
}

.deaths-btn
{
    background-color: gray;
}